<!doctype html>
<html lang="en">
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hi <%= @user.name %>, welcome to <a href=''>devyoung.com</a></h1>
	<p>
		You have successfully signed up!
	</p>
</body>
</html>