<h2>Groups</h2>

<% if @groups.to_a.any? %>
	<table>
		<tr>
			<td>name</td>
			<td>owner</td>
		</tr>
		<% @groups.each do |group| %>
			<tr>
				<td><%= link_to group.name, group_path(group.id) %></td>
				<td><%= group.user.name %></td>
			</tr>
		<% end %>
	</table>
<% end %>