<!doctype html>
<html lang="en">
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Congratulations!</h1>
	<h4><%= @request.user.name %> is now a part of <%= @request.group.name %>!</h4>
</body>
</html>